/* 
    Colors - 

    Button backgrounds: #9bc53d
    Button hover: #fde74c
    Social icons: #5bc0eb

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
 
li {
    list-style: none;
}

body {
    width: 100vw;
    background: rgb(240, 240, 240);
    font-family: 'Raleway', sans-serif;
}

// Navigation Styling

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 10px 0 0 5px;
    font-size: 1.5em;
}

.fa-bars, .fa-times {
    font-size: 20px;
    padding: 20px; 
}

.hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.nav-ul {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    padding: 0px;
    letter-spacing: 3px;
    line-height: 25px;
    width: 100%;
    text-align: center;
}

.nav-ul.show {
    display: flex;
}

/* Intro Window Styling */

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    max-width: 90%;
    height: 100vh;
}

.lets-chat-button {
    margin: 20px;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 20px;
    background-color: #9bc53d;
    color: white;
    cursor: pointer;
    border: none;
}

.lets-chat-button:hover {
    background-color: #fde74c;
    color: black;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 67%;
    font-size: 2.5em;
    padding: 20px;
    .fab {
        color: #5bc0eb;
    }

}

/* About me section styling */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 30px;
    max-width: 90%;
    
}

.headshot {
    height: 200px;
    width: 200px; 
    border-radius: 50%;
    margin: 20px;
}

.skills {
    padding: 10px;
    letter-spacing: 5px;
    ul {
        margin-top: 10px;
    }
}

.skills-heading {
    text-decoration: underline;
    font-weight: bold;
}

#bio {
    letter-spacing: 3px;
    line-height: 25px;
    margin-top: 10px;
}

.bio-section {
    margin: 20px;
}

.about-button{
    text-align: center;
}

/* Projects section styling */

.projects-container {
    display: flex;
    justify-content: center;    
}

.project-header {
    text-align: center;
}

.projectUL {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projectUL li {
    margin: 20px;
    width: 300px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    // border: 2px solid #9bc53d;
    border-radius: 20px;
    height: 550px;
}

.project-image {
    width: 250px;
    height: 250px;
}

.project-title {
    text-decoration: underline;
    margin-top: 10px;
}

.card-social {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 10px;
    font-size: 1.5em;
    i {
        color: #5bc0eb;
    }
}

/* Media Queries */

@media screen and (min-width: 767px) {
    .nav-ul {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hamburger {
        display: none;
    }

    .social {
        max-width: 300px
    }

    /* About Me section desktop */
    .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    } 
}

